<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAeOvdhD45CvHcxCSHyBQZ7zascZ68T0cs</string>
	<key>GCM_SENDER_ID</key>
	<string>719321795007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tgiraudo.FirebasePhotoPicker</string>
	<key>PROJECT_ID</key>
	<string>fir-photopicker</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-photopicker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719321795007:ios:81a9dcd901f1c6837a790a</string>
</dict>
</plist>